.CartHeader {
    position: fixed;
    z-index: 1000;
    left:0;
    top:0;
    right: 0;
    box-sizing: border-box;
    height: 1.5rem;
    display: flex;
    border-bottom: 1px solid #999;
    background: #fff;
    .left {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
            width: 20px;
            height: 20px;
            border: 1px solid #7c849a;
            border-radius: 50%;
        }
        .icon-selected {
            background-color: #0096ff;
            position: relative;
            border-color: transparent;
        }
        .icon-selected:after {
            content: "\0020";
            width: 4px;
            height: 9px;
            position: absolute;
            top:3px;
            right: 7px;
            transform: rotate(45deg);
            border: 2px solid #fff;
            border-width: 0 2px 2px 0;
        }
    }
    .right {
        flex:13;
        text-indent: .4rem;
        .shopping {
            font-size: .4rem;
            line-height: 1.5rem;
            font-weight: bold;
        }
    }
}