html,body,p,input,ul {
    margin:0;
    padding:0;
}
html {
    font-family: Helvetica Neue,Tahoma,Arial,PingFangSC-Regular,Hiragino Sans GB,Microsoft Yahei,sans-serif;
    -webkit-user-select: none;
}
body {
    background: #eee;
}
html, body {
    -webkit-tap-highlight-color: transparent;
}
