.MainItem {
    display: flex;
    position: relative;
    min-height: 2.8rem;
    padding: .4rem .25rem 0;
    border-bottom: 1px solid #999;
    background: #fff;
    box-sizing: border-box;
    .left {
        flex:3;
        //text-align: center;
        padding-left: .2rem;
        .img {
            width: 80%;
        }
    }
    .right {
        flex:9;
        .title {
            font-size: .4rem;
            font-weight: 700;
            padding: 0;
        }
        .describe {
            font-size: .253333rem;
            color: #999;
            margin: .133333rem 0;
        }
        .sale {
            font-size: .293333rem;
            margin: .173333rem 0;
            color: #666;
        }
        .price {
            display: inline-block;
            font-size: .426667rem;
            line-height: .426667rem;
            color: #f60;
            font-weight: 700;
            padding-bottom: .3rem;
        }
    }
    .button {
        position: absolute;
        right:6%;
        bottom:10%;
        font-size: 0;
        color: #fff;
        .button-item {
            display: inline-block;
            text-align: center;
            font-size: .6rem;
            width: .6rem;
            height: .6rem;
            line-height: .6rem;
            background-color: #3190e8;
            border-radius: 50%;
            font-weight: bold;
        }
        .number {
            display: inline-block;
            font-size: .4rem;
            line-height: .6rem;
            width: .62rem;
            color: #666;
            text-align: center;
        }
        .left-button {
            color: #3190e8;
            background-color: #fff;
            border:1px solid #3190e8;
        }
        .hide {
            opacity: 0;
            transition: opacity .5s linear;
        }
        .in {
            -webkit-animation:buttonItem .5s linear;
            -o-animation:buttonItem .5s linear;
            animation:buttonItem .5s linear;
        }
        .moveRound {
            position: absolute;
            width: .6rem;
            height: .6rem;
            background-color: #3190e8;
            border-radius: 50%;
            right: 0;
            top:0;
            z-index: 999;
            transform-origin:-30px 0;
            animation:moveRound 5s linear 0s infinite;
        }
    }
}

@keyframes buttonItem {
    0% {
        opacity: 0;
        transform:translate(-50px,0) rotate(0deg);
    }
    50% {
        opacity: .5;
        transform:translate(-25px,-25px) rotate(0deg);
    }
    100% {
        opacity: 1;
        transform:translate(0,0) rotate(360deg);
    }
}

@keyframes moveRound {
    0% {
        transform:rotate(0deg);
    }
    20% {
        transform:rotate(-90deg);
    }
    100% {
        transform:rotate(-180deg);
    }
}